.logo {
    font-family: $jost;
    font-size: 50px;
    font-weight: $regular;
    .logo-sup {
        font-size: 15px;
        font-weight: $regular;
    }
}

h2 {
    @include los-titulos;
    font-size: $x-large;
}

h3 {
    @include los-titulos;
    font-size: $larger;
}

h5 {
    font-family: $open-sans;
    font-weight: $light;
    font-size: $medium;
    color: $gris-oscuro;
}
.main__title {
    font-family: $montserrat;
    font-weight: $light;
    font-size: $x-large;
    color: $negro;
    text-align: center;
}

@media (min-width: 992px) {
    h3 {
        @include los-titulos;
        font-size: $medium;
    }

    h5 {
        font-size: $small;
    }
}
