/*Main*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__grid-item {
    padding: 1.2rem 3.75rem;
    justify-content: space-around;
}

@media (min-width: 992px) {
    main {
        padding: 0.5rem 5rem;
    }
    .main__grid-item {
        padding: 1.2rem 1rem;
    }
}

@media (min-width: 768px) {
    main {
        padding: 0.5rem 4rem;
    }
    .main__grid-item {
        padding: 1.2rem 0.5rem;
    }

}