/*Section*/

section {
    display: flex;
    justify-content: space-between;
    padding: 1.875rem 3.125rem;
    .section__Yuki-photo {
        background-image: url(../images/profile-image.png);
        background-size: cover;
        background-position: bottom;
        height: 90px;
        width: 90px;
        border-radius: 50%;
        margin: 10px;
    }
    .section__Yuki-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 10px;
    }
    
}

@media (min-width: 992px) {
    section {
        padding: 0.5rem 5rem;
    }
}


