/*Mixins*/

@mixin los-titulos {
    font-family: $montserrat;
    font-weight: $bold;
    color: $negro;  
}

@mixin fotos-lg {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 130px;   
}

@mixin fotos-xs {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;   
}

@mixin iconos-nav {
    color: $negro;
    animation-name: nav-color;
    animation-duration: 6s;
    animation-direction: alternate-reverse;
}