/*Variables*/

//Colores

$gris-oscuro: #756b6b;
$gris-claro: #8f8f8f;
$turquesa: #80deea;
$rosa-oscuro: #ef5350;
$blanco: #ffffff;
$negro: #000000;

//Tipografía

$jost: 'Jost', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$open-sans: 'Open Sans', sans-serif;

//Peso de fuente

$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

//Tamaños de fuente

$x-large: 2rem;
$larger: 1.375rem;
$large: 1.25rem;
$medium: 1.063rem;
$small: 0.938rem;




